@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
margin: 0;
padding: 0;
font-family:Georgia, 'Times New Roman', Times, serif;
color: black;
scroll-behavior: smooth;
overflow-x: hidden;



}

body{

    min-height: 1000px;


}

.sticky{

    background-color:white;
    
}

.sticky .logo{

color: black;

}

.sticky .navigation li a{

color: black;

}

.sticky .navigation li a:hover{

    color: red;
}

p{

font-weight: 300;

}

.banner{
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: url(bg.jpg);
background-size: cover;

}

.banner .content{

max-width: 900px;
text-align: center;


}

.banner .content h2{

    font-size: 5em;
    color: white;

   
    
    
    }


    .banner .content p{

        font-size: 1em;
        color: white;
    
       
        
        }

.btn{

    font-size: 1em;
    color:white;
    text-decoration: none;
    background:#ff0157;
    display: inline-block;
    margin-top: 20px;
    padding: 20px 30px;
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    
}

.btn:hover{

   letter-spacing: 6px;

}

header{

position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 40px 90px;
z-index: 1;
display: flex;


}

header .logo{

text-decoration: none;
font-weight: 700;
font-size: 30px;
color: white;
margin-right: 700px;

}

header .logo span{

    color: #ff0157;

}

header .navigation{

position: relative;
display: flex;
margin-top: 10px;

}

header .navigation li {

    list-style: none;
    margin-left: 40px;


}


header .navigation li a{

    text-decoration: none;
    color: white;
    font-weight: 300;

}


header .navigation li a:hover {

    color:red;
    font-size: 30px;


}

section{

padding: 15px 15px;


}

.row{

position: relative;
width: 100% ;
height: 400px;
display:flex;
justify-content: space-between;


}

.row .col50{

position: relative;
width: 48%;
height: 100%;

}

.titletext{

    color:#111;
    font-size:2em ;
    font-weight: 300;

}

.titletext span{

    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;


}

.row .col50 .imgbx {

    position: relative;
    width: 100%;
    height: 100%;



}

.row .col50 p{

margin-left: 20px;

    
}
.row .col50 .imgbx img{

position: absolute;
top:0;
left: 0;
height: 100%;
width: 80%;
object-fit: cover;

}

.title{

width:100%;
display: flex;
flex-direction: column;
align-items: center;




}




.menu .content {
    
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin-top:40px;
justify-content: center;
}


.menu .content .box{

width: 340px;

border:15px solid #ffff;
margin: 20px;
box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);



}

.menu .content .box .imgbx{

    position: relative;
    width: 100%;
    height: 300px;
    
    
    }

.menu .content .box .imgbx img{

position: absolute;
top:0;
left:0; 
height: 100%;
width: 100%;
object-fit: cover;



}


.menu .content .box .text{

padding: 15px 0 5px;

}

.menu .content .box .text h3{

font-weight:400px;
color: #111;
}

.expert .content{

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
margin:40px


}


.expert .content .box{

width: 250px;
margin: 15px;


}

.expert .content .box .imgbx{

    position: relative;
    width: 100%;
    height: 300px;

}

.expert .content .box .imgbx img{

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;

}


.testimonial{

background: url(bg2.jpg);
background-size: cover;
background-attachment: fixed;

}

.testimonial .titletext,
.testimonial .title p{
color: white;


}


.testimonial .content{

display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
margin-top: 40px;




}

.testimonial .content .box{

background: white;
width: 340px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 20px 20px;
padding: 20px;


}

.testimonial .content .box .imgbx{

position: relative;
width: 80px;
height: 80px;
margin-bottom: 20px;
border-radius: 50%;
overflow: hidden;




}


.testimonial .content .box img{

position: absolute;
width: 100%;
height: 100%;
object-fit: cover;


}

.testimonial .content .box .text{

text-align: center;




}



.testimonial .content .box .text p{

color: #666;
font-style: italic;



}


.testimonial .content .box .text h3{

margin-top: 20px;
color: #ff0157;
font-size: 1.5em;



}


.contact  p{

display: flex;
justify-content: center;



}

.contact{

background:url(bg3.jpg);
background-size: contain;
background-attachment: fixed;
background-size: cover;
max-height: 600px;




}


.contact .contactform{

background: #ffff;
padding: 50px 50px;
box-shadow: 0 15px 50px rgba(0, 0, 0, 0.08);
max-width: 400px;
margin-bottom: 40px;




}

.contactform h3{

color: #111;
margin-bottom: 20px;
font-size: 1.2em;
font-weight: bold;

}

.contactform .inputbox{

position: relative;
width: 100%;
margin-top: 25px;




}


.contactform .inputbox textarea,
.contactform .inputbox input{

    width: 100%;
    border: 1px solid #111;
    color: #111;
    font-size: 16px;
    padding: 10px;
    outline: none;
    
}

.contactform .inputbox input[type="submit"]
{

font-size: 1em;
color: #fff;
background: #ff0157;
font-size: 1em;
font-weight: 500;
max-width: 100%;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 2px;
transition: 0.5s;
cursor:pointer;
 

}

.copyright{

padding: 8px 40px;
border-top: 1px solid rgba(0, 0, 0, 0.1);
text-align: center;




} 


.copyright p{

color: #333;


}


.copyright a{

color:#ff0157;
font-weight: bolder ;
text-decoration: none;
font-size: 1em;


}






